<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="content">
        <div id="menuCloseOverlay">

        </div>

        <div id="oeVars" style="display:none;"></div>
        <f:render partial="/Page/Upperpart" arguments="{_all}" />

        <div id="content">
            
            
                <f:format.raw>{content}</f:format.raw>

 
        </div><!-- end CONTENT -->
        
        <div id="rightCol">

                <f:format.raw>{contentRightUp}</f:format.raw>
                <f:format.raw>{contentRightFix}</f:format.raw>
                <f:format.raw>{contentRightDown}</f:format.raw>

        </div>
    </div>
    
        <f:render partial="/Page/Footer" arguments="{_all}" />

</div><!-- END innerWrap -->
</div><!-- END wrap -->

</f:section>
</html>