<div id="footer">
    <div class="wrap1600">
        <div class="footerInnerWrap flex">
            <div id="footerCol1">               
                <div class="line"></div>
                <f:format.raw>{footerCol1}</f:format.raw>
            </div>

            <div id="footerCol2">
                <div class="line"></div>
                <f:format.raw>{footerCol2}</f:format.raw> 
            </div>
            <div id="footerCol3">
                <div class="line"></div>
                <f:format.raw>{nutznavi}</f:format.raw> 
            </div>
        </div>
        

        
    </div>
</div>
