<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<!--<div id="constructionOverlay">
    
</div>-->

<div id="wrap">

    <div id="header">
        <div class="wrap1600 flex">

            <div id="logo">
                            <f:link.typolink parameter="t3://page?uid={startpageId}">
                                <img src="{f:uri.resource(path: 'Media/geqcos-logo-full-color-rgb.svg', extensionName: 'basictemplate')}" width="100%" />
                            </f:link.typolink>
            </div>  
            <div id="projectTitle">
                German Quantum Computer<br/>based on Superconducting Qubits
            </div>
                <div id="mobilemenu">
                <div id="mobilemenuInner">
                    <img src="{f:uri.resource(path: 'Media/Icons/icon_menu_mobil.svg', extensionName: 'basictemplate')}" width="100%" />
                </div>
                </div>
                <div id="headerspacer">
                </div>

            </div>
            <div class ="menuwrapper">
                <div class="wrap1600 flex">
                    <div id="menuspacer"></div>
                        <f:format.raw>{mainmenu}</f:format.raw>
                        
                        <f:link.typolink parameter="t3://page?uid={searchpageId}">
                            <div id="searchbox">
                                <img src="{f:uri.resource(path: 'Media/Icons/icon-search_d.svg', extensionName: 'basictemplate')}" width="24" />
                            </div>
                        </f:link.typolink>
                                    <div id="projectTitleMobil">
                German Quantum Computer<br/>based on Superconducting Qubits
            </div>

                </div>
            </div>
        </div>


    
    <div id="innerWrap">
        <f:if condition="{data.backend_layout} == pagets__schmal">
            <f:then>
                <div class="narrow">
            </f:then>
            <f:else>
                <div class="broad">
            </f:else>
        </f:if>
        <f:if condition="{breadcrumb}">
            <div id="breadcrumb">

                <f:format.raw>{breadcrumb}</f:format.raw>

            </div>
            </f:if>
</html>