
/*
    @import "Fonts.css"; does not work. Why? NO idea!

    green dark: #1c6767
    green light: #7ac5bb

*/

/* latin-ext */
@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Fonts/dmsans_400_latin_ext.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF';
}

/* latin */
@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Fonts/dmsans_400_latin.woff2') format('woff2');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
}
/* latin-ext */

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Fonts/dmsans_500_latin_ext.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF';
}

/* latin */
@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Fonts/dmsans_500_latin.woff2') format('woff2');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
}

/* latin-ext */
@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Fonts/dmsans_700_latin_ext.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF';
}

/* latin */
@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Fonts/dmsans_700_latin.woff2') format('woff2');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
}




*, html, body, table, td, tr, div, p {
    padding:0;
    margin:0;
}
html {
    background:#e0e0e0;
    font-family: 'DMSans';
    font-weight: 400;
    line-height: 1.74;
    letter-spacing: 0.02em; 
    font-size:16.2px;
    color:#707070;
    /* !-Font size as basis for rem/em calculation is done in Main.js  */
}

a {
    color: #1C6767; 
}
#footer a {
    color:white;
}

a:hover {
    color: #7AC5BB; 
}


p {
    padding-bottom:1em;
}

h1, h2, #rightCol h1 {
    font-size: 1.067em;
    color: #7AC5BB; 
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.25em;
}


h1.firstHeader {
    font-size: 2.986em;
    color: #1C6767; 
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0.02em;     
    line-height: 1.2;
    padding-bottom: 0.7em;
}

h3 {
    font-size: 1.067em;
    color: #7AC5BB; 
}





#menuCloseOverlay {
    position:fixed;
    top:50px;
    width:100vW;
    height:100vH;
    background:none;
    display:none;
}

#constructionOverlay {
    background-image: url('../Icons/gear.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px 600px;
    position:fixed;
    width:100vW;
    height:100vH;
    pointer-events: none;
    opacity:0.5;
}

div {
    /*    border:1px dotted grey;*/
}

/*###############################################################################
########################## BASIC Containers #####################################*/

#wrap {
}

.wrap1600 {
    max-width:1650px;
    margin: 0 auto;
}

.wrap1400 {
    max-width:1450px;
    margin: 0 auto;
}

.flex {
    display:flex;
}
#footer .flex {
    justify-content: space-between;
}

#innerWrap {
    /*    padding-bottom: 4em;*/
    background-image: url('../Media/Background_GEQCOS.jpg');
    background-size:cover;
}

#content {
    background-color: white;
    border-radius: 0;
    padding: 5em 7em;
    margin-bottom:4rem;
}


.frame-default.highLight {
    border-left:3px solid #1c6767;
}

.frame-default header {
    padding-bottom:2.5rem;
}

#rightCol {
   margin-bottom:2rem;
 
}
#rightCol .frame-default {
    background-color: white;
    border-radius: 0;
    padding: 2em 2em;
    margin-bottom:2rem;
}

#rightCol .frame-default header {
    padding-bottom:0.3rem;
}

#header {
    /*    background: #1c6767;*/
    /*    display:flex;*/
    position: fixed;
    width:100%;
    height: 10rem;
    background-color: white;
    transition: all 1.3s;
    transition: font-size 0s;
    padding:1.2rem 0 0 0;
    z-index:9;
}


#logo {
    padding:0 0 0 4rem;
    width:21rem;
    margin-right:3rem;
    height: 8.8rem;    
}

#innerWrap {
    background-color:#f0f0f0;
    padding-top:19rem;
}
#projectTitle, #projectTitleMobil {
   font-size: 1rem;
    line-height:1.7rem;
    color: #7AC5BB;  
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    margin-top:2.7rem;
    background-image: url('../Media/lineV.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 3rem;
}
#projectTitleMobil {
    color: white;  
    margin-top:0.3rem;
    padding-left: 0;
    background-image: none;
    display:none;
}

#footer {
    background-color:#1c6767;
    padding:2em;
    color:white;
    font-size:1em;
    line-height: 1.5em;
}
#footer ul li {
    list-style-type: '- ';
}

#footerCol1 {
    width:40%;
}
#footerCol2 {
    width:25%;
}

#footerCol3 {
    width:12%;
}

/*###############################################################################
#################################### MENU #######################################*/

#mainmenu {
    z-index:99;
    flex:1;
    font-weight: 600;
}

.menuwrapper {
    background-color: #7ac5bb;
    height:3rem;
}

#menuspacer {
    width:13rem;
}

#mobilemenu {
    display:none;
    flex:1;
}
#mobilemenuInner {
    width:2rem;
    float:right;
    padding: 3rem  3rem 0 0;
}
#searchbox {
    padding:0.8rem 2.5rem 0 1.5rem ;
}

#mainmenu ul {
    display:flex;
    align-items:center;    
    /*    border:1px dotted white;*/
    width:100%;
    justify-content: space-around;
    position:relative;  
    line-height: 1.75;
    height:3rem;
}

#mainmenu ul.menuLevel2 {
    height:auto;
   box-shadow: 0 0 30px 0 rgba(0, 24, 46, 0.2);    
}

#mainmenu ul li { 
    position:relative;
    list-style-type: none;
    /*    flex:1;  space between is used, not fixed with */
    text-align: right;
    font-weight: bold; 
}
#mainmenu ul li a {
    color:#0E3333;
    font-size:1.067rem;
    text-decoration: none;
}

#mainmenu ul li a:hover {
    color:white;
}
/*
#header.homeTrans #mainmenu ul li a {
    transition: color 0.4s;
}


svg path#garching:hover {
   fill: #7ac5bb;
 }
 */

 
 svg #garching,
 svg #juelich,
 svg #erlangen,
 svg #karlsruhe,
 svg #freiburg,
 svg #eggenstein,
 svg #neubiberg {
     transition: all 0.6s;
 }
 svg #garchinglabel,
 svg #juelichlabel,
 svg #erlangenlabel,
 svg #karlsruhelabel,
 svg #freiburglabel,
 svg #eggensteinlabel,
 svg #neubiberglabel {
     transition: all 0.6s;
 }

 
 .frame-garching,
 .frame-juelich,
 .frame-erlangen,
 .frame-karlsruhe,
 .frame-freiburg,
 .frame-eggenstein,
 .frame-neubiberg {
    margin-left: -20px;
    padding-left: 20px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0 7px;
    transition: background-image 0.6s;
 }
 
 .frame-garching a,
 .frame-juelich a,
 .frame-erlangen a,
 .frame-karlsruhe a,
 .frame-freiburg a,
 .frame-eggenstein a,
 .frame-neubiberg a {
     color:#707070;
     transition: color 0.6s;
 }

#mainmenu ul.menuLevel2 {
    display:none;
    position:absolute;
    top:39px;
    left: -40px;
    background: #fff;
    padding: 40px 40px 20px 40px;   
    width:auto;
    font-size:0.9em;
}
#mainmenu ul.menuLevel2 li {
    text-align: left;
    padding-bottom:20px;
    white-space: nowrap;
}
#mainmenu ul.menuLevel2.open {
    display:block;
}
#mainmenu ul.menuLevel2 a {
    color:#1c6767;
}
#mainmenu ul.menuLevel2 a:hover {
    color:#7ac5bb;
}
#mainmenu ul.menuLevel2 li.researchTopicHeader {
    font-weight: normal;
}



/*###############################################################################
############################ CONTENT containers & positioning #################################*/

.frame-default {
    padding-bottom: 1rem;
}

.frame-default.frame-layout-1 {
        padding-bottom: 0;
}

.frame-default.frame-layout-1 header {
        padding-bottom: 0;
}

.ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery, .ce-above .ce-gallery, .ce-below .ce-gallery {
    margin-bottom: 1.6rem;
    margin-top: 1rem;
}

#footer .ce-intext.ce-right 
#footer .ce-gallery, 
#footer .ce-intext.ce-left .ce-gallery, 
#footer .ce-above .ce-gallery, 
#footer .ce-below .ce-gallery {
    margin-bottom: 0;
    margin-top: 0;

}
.ce-intext.ce-left .ce-gallery {
    margin-right: 2.4rem;
}
.ce-intext.ce-right .ce-gallery {
    margin-left: 2.4rem;
}

.twoColumns {
    display:flex;
    justify-content: space-between;
}
.twoColumns > div {
    width: 50%;
    padding-right: 4em;    
}

/*.twoColumns .image img {
    width:100%;
}*/

.threeColumns {
    display:flex;
    justify-content: space-between;
}
.threeColumns .column1 {
    width: 20%;
}
.threeColumns .column2 {
    width: 40%;
}
.threeColumns .column3 {
    width: 30%;
}
.threeColumns.firstColumIsIcon .column1 {
    width: 2rem;
    display:none;
}
.threeColumns.firstColumIsIcon .column2 {
    width: 75%;
}
.threeColumns.firstColumIsIcon .column3 {
    width: 20%;
}

#innerWrap .broad {
    max-width:1300px;
    margin: 0 auto;
    display:flex;
}

#innerWrap .narrow {
    max-width:1100px;
    margin: 0 auto;
    display:flex;
    
}

/*
#innerWrap .broad #content,
#innerWrap .narrow #content {
}
#innerWrap .broad #rightCol,
#innerWrap .narrow #rightCol {
}*/

#innerWrap .broad #content,
#innerWrap .narrow #content {
    width:60%;
    margin-right:2rem;
}
#innerWrap .broad #rightCol,
#innerWrap .narrow #rightCol {
    width:20%;
}

.listTitle {
    font-weight: bold;
}

.oneNews {
    width: 45%;
    float: left;
}

#rightCol .oneNews {
    float:none;
}


#searchIcon {
}
#searchboxInner {
    position: relative;
    width:1.4rem;
    width:24px;
}
#searchboxItself {
    position: absolute;
    left: -10.6rem;
    width:12rem;
    top: 1.8rem;  
    opacity: 0;
    transition: opacity 0.5s;
}
#mobileSearchbox .submitbutt,
#mobileSearchbox #kesearch_filters,
#mobileSearchbox div.head,
#mobileSearchbox div.filterIcon,
#mobileSearchbox #searchIcon,
#searchboxItself .submitbutt,
#searchboxItself #filterSearchIcon,
#searchboxItself #kesearch_filters,
#searchboxItself div.head,
#searchboxItself div.filterIcon
{
    display:none;
}
#searchboxItself .tx-kesearch-pi1 {
    padding:0;
    margin:0;
    background-color:transparent !important;
}
#searchboxItself.open {
    opacity: 1;
}

fieldset.kesearch_searchbox {
    display:flex;
}
#kesearch_filters .list {
    border:none;
}
#filterSearchIcon {
    width:30px;
    border:none;
    float:right;
    padding-top:0.2rem;
    padding-left: 230px;
}
#searchboxItself .kesearchbox {
    padding: 0 !important;
    margin:0 !important;
    background-color:transparent !important;
}

.tx-kesearch-pi1 {
    padding-bottom:5rem;
}
.tx-kesearch-pi1 .resetbutt {
    display:none;
}

.tx-kesearch-pi1 #kesearch_results .result-list-item .hit {
    color:#1C6767 !important;
}
