

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# Groß (>=1400)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */

@media only screen and (min-width: 1300px)  {
    

/*    #content
    {
        border-radius: 0.2rem;
    }*/
 
}

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# Groß (>=1200)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */

@media only screen and (min-width: 1200px)  {
    
    .maintopic .twoColumns .image {
        margin-left: -3em;
    }
}



/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# TABLET (1024)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 1024px) and (min-width: 441px) {
    #mainmenu, #searchbox {
        display:none;
    }
    #mobilemenu, #projectTitleMobil {
        display:block;
    }
    #projectTitle {
        display:none;
    }
}

@media only screen and (max-width: 900px) {
    
    #innerWrap .broad {
        margin: 0 auto;
        display: block;
    }
   #innerWrap .broad #content, 
   #innerWrap .narrow #content,  
   #innerWrap .broad #rightCol, 
   #innerWrap .narrow #rightCol {
        width: auto;
        margin-right:0;
   }
   
    #innerWrap {
        background-image: none;
        padding-top: 13rem;
    }
    #content,
    #rightCol .frame-default {
        margin-bottom:0.2rem;
        padding: 5em 7em;
    }
    #rightCol .frame-default:last-of-type {
        margin-bottom:0;
    }
    
    #rightCol {
        margin-bottom:0;
    }
    
}

@media only screen and (max-width: 900px) {
    #content,
    #rightCol .frame-default {
        padding: 3em 4em;
    }

}



@media only screen and (max-width: 800px) {
    #menuspacer {
        width:5rem;
    }
}

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# MOBILE (360)  ############################################################################################################ */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 440px) {

/*###############################################################################
########################## BASIC Containers #####################################*/

    html {
            line-height: 1.4;
    }
    #header {
        height:4.5rem;
    }
    #logo {
        padding-left:2rem;
        margin-right: 0;
        
    }
    #logo img {
        width:9rem;
    }
    #innerWrap {
        padding-top:8rem;
    }
 
    #breadcrumb {
        padding-left:2rem;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    #footer .footerInnerWrap {
        padding-left:2rem;
        padding-right:2rem;
    }    
    #footer #footerCol1, #footer #footerCol2 {
        padding-right:2rem;
    }
    
    .flex {
        display:block;
    }
    
    .flex .padding-6 {
        padding-left:0;
        padding-top:2rem;
    }   
    
    .icon {
        height: 1.5rem;
    }
    
/*###############################################################################
#################################### MENU #######################################*/

    #mainmenu, #searchbox {
        display:none;
    }
    #mobilemenu {
        display:block;
        width:1.5rem;
        padding-top:0.8rem;
        position: absolute;
        right: 2em;
        top:1.4em;
    }


         

/*###############################################################################
########################### BASIC text Formating ################################*/


/*###############################################################################
############################ CONTENT containers & positioning #################################*/

    #content,
    #rightCol .frame-default {
        padding: 2em 3em;
    }


    .title {
        line-height:1.3;
    }

    .listWrapper {
        margin-left:-2rem;
    }
    .filter {
        margin-left:-2rem;
        padding:2rem;
    }
    .categoryWrapper {
        padding: 2rem 2rem;
    }

    
    .twoColumns {
        display:block;
    }
    .twoColumns > div {
        width: 100%;
        padding:0;    
    }    
    .threeColumns {
        display:block;
    }
    .threeColumns .column1,
    .threeColumns .column2 {
        float:left;
        width:50%;
    }
    
     .threeColumns .column3 {
        clear:both;
        width:100%;
        padding-top:1rem;
    }
    .persons .onePerson, .publications .onePublication {
        margin-left:0;
    }
    
    .topics .subtopics, .projects {
        padding:2rem;
        margin-left:-2rem;
    }    
    .collapsableHeader {
        background-position: right 0.5em center;
    }
    .collapsableHeader .twoColumns .left {
        background-position: right 0 top 0.6em;    
    }
    
    .collapsableContent {
        padding:0;
    }
    
    .topics .subtopics .oneSubtopic, .projects .oneProject {
        padding-bottom: 2rem;
        margin-bottom: 3rem; 
    }   
    
/*###############################################################################
############################ IMAGE positioning #################################*/


/*###############################################################################
############################ CONTENT styling #################################*/




/*###############################################################################
############################ HOME containers & positioning #################################*/
    
}